body {
	margin: 0;
	font: normal 13px PT Sans, sans-serif;
}

a {
	text-decoration: none;
}

.panel {
	
}

.arrivalsStopInfo {
	margin: .5em auto;
	text-align: center;
	font-size: 120%;
}

.arrivalsStopNumber {
	font-size: 60%;
}

.arrivalsStopAddress a,
.arrivalsStopNumber a 
{
	color: #000;
}


.arrivalsTable {
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}

.arrivalsTable a {
	color:#000;
}

.arrivalsTable td {
	border-top: 1px solid #ccc;
	text-align: center;
}

.arrivalsTable .arrivalsHeader td {
	border: none;
	font-size: 80%;
}

td.arrivalsRouteEntry,
td.arrivalsStatusEntry {
	width: 15%;
	white-space: nowrap;
	font-size: 180%;
}

td.arrivalsDescriptionEntry {
	width: 70%;
}

.arrivalsTimePanel {
	font-size: 80%;
}

.arrivalsStatusUpdates {
	margin-top: 1em;
	text-align: center;
	font-size: 80%;
}

.arrivalStatusOnTime  {color:green;}
.arrivalStatusOnTime a{color:green;}

.arrivalStatusNoInfo  {color:black;}
.arrivalStatusNoInfo a{color:black;}

.arrivalStatusEarly  {color:red;}
.arrivalStatusEarly a{color:red;}

.arrivalStatusDelayed  {color:blue;}
.arrivalStatusDelayed a{color:blue;}

.arrivalStatusDepartedOnTime  {color:green;}
.arrivalStatusDepartedOnTime a{color:green;}

.arrivalStatusDepartedNoInfo  {color:black;}
.arrivalStatusDepartedNoInfo a{color:black;}

.arrivalStatusDepartedEarly  {color:red;}
.arrivalStatusDepartedEarly a{color:red;}

.arrivalStatusDepartedDelayed  {color:blue;}
.arrivalStatusDepartedDelayed a{color:blue;}

.arrivalStatusCancelled  {color:red;}
.arrivalStatusCancelled a{color:red;}